.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  font-family: 'Poppins', sans-serif;
}

/* MAIN CARD */
.card {
  width: 850px;
  height: 520px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

/* LEFT SIDE */
.left {
  flex: 1;
  background: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #1f1f1f;
}

.subtitle {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 25px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.form input:focus {
  border-color: #D2832D;
}

/* BUTTON */
.primaryBtn {
  margin-top: 10px;
  background: #D2832D;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.primaryBtn:hover {
  background: #b96d1f;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  background: linear-gradient(135deg, #fff7ed, #ffe7cc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.right h2 {
  color: #D2832D;
  font-size: 24px;
  margin-bottom: 10px;
}

.right p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.right img {
  width: 80%;
  max-width: 280px;
}
.switchText {
  margin-top: 15px;
  font-size: 13px;
  color: #6c757d;
  text-align: center;
}

.switchLink {
  color: #D2832D;
  font-weight: 600;
  text-decoration: none;
  margin-left: 4px;
}

.switchLink:hover {
  text-decoration: underline;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 40px; /* space for icon */
}

.eyeIcon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: #777;
  transition: 0.2s;
}

.eyeIcon:hover {
  color: #D2832D;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    height: auto;
  }

  .right {
    display: none;
  }

  .left {
    padding: 30px;
  }
}